$white-01: #FFFFFF;

$blue-01: #3D63A9;

$pink-01: #AA2275;
$red-01: rgb(200, 0, 0);

$green: #879825;

$black-01: #000000;
$black-02: #2B2B2B;

$gray-01: rgba(0, 0, 0, 0.25);
$gray-02: #F4F4F4;
$gray-03: #676767;

$black-gradient: rgba(43, 43, 43, 0.8);
$pink-gradient: rgba(170, 34, 117, 0.8);
$blue-gradient: rgb(61, 99, 169, 0.8);
  